[submodule "iot-server"]
	path = iot-server
	url = git@github.com:mmontes11/iot-server.git
[submodule "biot"]
	path = biot
	url = git@github.com:mmontes11/biot.git
[submodule "iot-worker"]
	path = iot-worker
	url = git@github.com:mmontes11/iot-worker.git
[submodule "iot-web"]
	path = iot-web
	url = git@github.com:mmontes11/iot-web.git
