apiVersion: v1
kind: Secret
metadata:
  name: iot
stringData:
  BASIC_AUTH_USER: iot
  BASIC_AUTH_PASSWORD: iot
  BACK_USER: iot
  BACK_PASSWORD: IoT12345&&
  BIOT_USER: iot
  BIOT_PASSWORD: IoT12345&&
  GOOGLE_MAPS_KEY: key
  JWT_SECRET: secret
  TELEGRAM_TOKEN: token
  TELEGRAM_USERS_WHITELIST_JSON: ""
