$family-sans-serif: "Nunito", sans-serif;
$primary: #247ba0;
$info: #70c1b3;
$success: #b2dbbf;
$warning: #f3ffbd;
$danger: #ff1654;
$link: $info;
$link-hover: $success;
$selected: rgba($primary, 0.2);
$navbar-box-shadow-color: hsl(0, 0%, 90%);
$flag-icon-css-path: '~flag-icon-css/flags';
