.dropdown {
  width: 100%;

  .dropdown-trigger,
  .dropdown-menu {
    width: 100%;
    cursor: pointer;
  }

  .button {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
